#resultTable {
    width: 100%;
    min-height: 80vh;
}

#resultTable tr:nth-last-of-type(odd) {
    background: #ccc;
}

#resultTable thead tr, #resultTable thead tr:nth-last-of-type(odd){
    background: #666;
}

#map {
    height: 500px;
    width: 100%;
}

#testingPoints input, #testingPoints button{
    border: 1px solid;
}

#options_form_container label{
    max-width: 400px;
    display: inline-block;
}

#resultTable th {
    text-align: left;
}

span.count {
    width: 42px;
    display: inline-block;
}

td {
  max-width: 70px;
}
